#account {
    .form-control {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        border: 0 !important;
        padding-top: 16px !important;
        background: transparent !important;
        line-height: 1.1 !important;
        height: 45px;
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    button.btn {
        position: relative;
    }
    .user-profile {
        border: 0;
        background: url('../img/settings-pattern.png');
        .card-body {
            padding: 0;
        }
        .list-group-item {
            border-radius: 0;
            border-color: #dbe2e8;
            color: #6c757d;
            &:hover,
            &:focus,
            &:active {
                background: #f7f7f7;
            }
            &.active {
                background: #007bff !important;
                border-color: #007bff !important;
                color: #fff;
            }
        }
        .list-group-item:last-of-type {
            border-radius: 0 0 .25rem .2rem;
        }
        .user-header {
            border-radius: .25rem .2rem 0 0;
            border: 1px solid #dbe2e8;
            border-bottom: 0;
            .user-header-wrapper {
                width: 100%;
                text-align: center;
                margin-top: -50px;
                margin-bottom: 20px;
                .user-avatar {
                    width: 100px;
                    display: inline-block;
                    margin-bottom: 5px;
                    .user-profile-pic {
                        width: 100%;
                        border: 7px solid #f8f9fa;
                    }
                }
                .user-identity {
                    vertical-align: middle;
                    h5 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.form-field {
    margin-bottom: 8px;
    .form-group {
        background: #fff;
        border: 1px solid #ced4da;
        border-radius: 3px !important;
        position: relative;
        margin-bottom: 0;
        .placeholder {
            font-size: 11px;
            color: #999;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: absolute;
            top: 0;
            left: 10px;
            transition: transform ease-out .1s, -webkit-transform ease-out .1s;
            height: 45px;
            line-height: 45px;
            font-size: 16px;
            &.extended {
                height: auto;
                line-height: 1.2;
                top: 10px;
                left: 5px;
                transform: scale(.83333) translateY(-10px);
            }
            @media (min-width: 768px) {
                &.extended {
                    font-size: 12px;
                }
            }
        }
        .placeholder-label {
            display: none;
        }
    }
}

.form-signin {
    margin-top: 5%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    .form-group,
    .checkbox label {
        margin-bottom: 0;
    }
}

.form-register {
    margin-top: 5%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    .checkbox {
        font-weight: 400;
    }
    .form-group:last-of-type {
        margin-bottom: 15px;
    }
    .btn-register {
        padding-left: 0;
        padding-right: 0;
    }
}

.error .form-group {
    .form-control {
        border-radius: .1rem !important;
    }
    .feedback {
        font-size: 11px;
        margin: 5px 0;
    }
}

.field-error {
    .form-group {
        display: table;
        width: 100%;
        border-color: #dc3545 !important;
    }
    .form-control {
        width: 90%;
    }
    .placeholder-label {
        color: #dc3545;
    }
    .placeholder-label,
    .form-control {
        display: table-cell;
    }
    .feedback {
        color: #dc3545;
        font-size: 12px;
        margin-top: 5px;
    }
}

.form-loading {
    background-image: url(/img/account-submit-loader.gif);
    background-position: top right;
    background-repeat: no-repeat;
}

.table-actions {
    text-align: center;

    a {
        display: inline-block;
        color: #dc3545;
    }
}

.pagination {
    a {
        box-shadow: none !important;
    }
}