#account .form-control {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 0 !important;
  padding-top: 16px !important;
  background: transparent !important;
  line-height: 1.1 !important;
  height: 45px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

#account button.btn {
  position: relative; }

#account .user-profile {
  border: 0;
  background: url("../img/settings-pattern.png"); }
  #account .user-profile .card-body {
    padding: 0; }
  #account .user-profile .list-group-item {
    border-radius: 0;
    border-color: #dbe2e8;
    color: #6c757d; }
    #account .user-profile .list-group-item:hover, #account .user-profile .list-group-item:focus, #account .user-profile .list-group-item:active {
      background: #f7f7f7; }
    #account .user-profile .list-group-item.active {
      background: #007bff !important;
      border-color: #007bff !important;
      color: #fff; }
  #account .user-profile .list-group-item:last-of-type {
    border-radius: 0 0 .25rem .2rem; }
  #account .user-profile .user-header {
    border-radius: .25rem .2rem 0 0;
    border: 1px solid #dbe2e8;
    border-bottom: 0; }
    #account .user-profile .user-header .user-header-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -50px;
      margin-bottom: 20px; }
      #account .user-profile .user-header .user-header-wrapper .user-avatar {
        width: 100px;
        display: inline-block;
        margin-bottom: 5px; }
        #account .user-profile .user-header .user-header-wrapper .user-avatar .user-profile-pic {
          width: 100%;
          border: 7px solid #f8f9fa; }
      #account .user-profile .user-header .user-header-wrapper .user-identity {
        vertical-align: middle; }
        #account .user-profile .user-header .user-header-wrapper .user-identity h5 {
          margin-bottom: 0; }

.form-field {
  margin-bottom: 8px; }
  .form-field .form-group {
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 3px !important;
    position: relative;
    margin-bottom: 0; }
    .form-field .form-group .placeholder {
      font-size: 11px;
      color: #999;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      top: 0;
      left: 10px;
      transition: transform ease-out .1s, -webkit-transform ease-out .1s;
      height: 45px;
      line-height: 45px;
      font-size: 16px; }
      .form-field .form-group .placeholder.extended {
        height: auto;
        line-height: 1.2;
        top: 10px;
        left: 5px;
        transform: scale(0.83333) translateY(-10px); }
      @media (min-width: 768px) {
        .form-field .form-group .placeholder.extended {
          font-size: 12px; } }
    .form-field .form-group .placeholder-label {
      display: none; }

.form-signin {
  margin-top: 5%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px; }
  .form-signin .form-group,
  .form-signin .checkbox label {
    margin-bottom: 0; }

.form-register {
  margin-top: 5%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px; }
  .form-register .checkbox {
    font-weight: 400; }
  .form-register .form-group:last-of-type {
    margin-bottom: 15px; }
  .form-register .btn-register {
    padding-left: 0;
    padding-right: 0; }

.error .form-group .form-control {
  border-radius: .1rem !important; }

.error .form-group .feedback {
  font-size: 11px;
  margin: 5px 0; }

.field-error .form-group {
  display: table;
  width: 100%;
  border-color: #dc3545 !important; }

.field-error .form-control {
  width: 90%; }

.field-error .placeholder-label {
  color: #dc3545; }

.field-error .placeholder-label,
.field-error .form-control {
  display: table-cell; }

.field-error .feedback {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px; }

.form-loading {
  background-image: url(/img/account-submit-loader.gif);
  background-position: top right;
  background-repeat: no-repeat; }

.table-actions {
  text-align: center; }
  .table-actions a {
    display: inline-block;
    color: #dc3545; }

.pagination a {
  box-shadow: none !important; }
