.navbar {
  border-bottom: 1px solid #edeff1; }

.page .details {
  background: #fff; }
  .page .details .nothing {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .page .details {
      padding: 50px 20px; } }

.carousel-inner {
  padding-bottom: 90px; }

.carousel-control-next,
.carousel-control-prev {
  background-size: 100%, 100%;
  background-image: none;
  color: #000 !important;
  font-size: 50px;
  opacity: 1; }

.carousel-indicators {
  bottom: 0;
  margin: 0; }

.carousel-indicators li {
  background: transparent !important;
  width: auto;
  height: auto;
  text-indent: 0;
  margin: 0 5px; }

.details .card {
  border: 0;
  background: transparent; }
  .details .card .card-body {
    border-bottom: 1px solid #edeff1; }
  .details .card .card-footer {
    background: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 0;
    border-bottom: 1px solid #edeff1; }
  .details .card .card-footer:last-child {
    border-bottom: 0; }

.product-actions .float-left,
.product-actions .float-right {
  float: none !important;
  margin-bottom: 10px;
  text-align: center; }

@media (min-width: 768px) {
  .product-actions .float-left {
    float: left !important; }
  .product-actions .float-right {
    float: right !important; } }

.product-actions a {
  margin: 0 5px;
  color: #555; }
  .product-actions a:not(.btn) {
    transition: all 0.2s ease-in; }

.product-actions a:hover:not(.btn) {
  color: #000; }

.product-actions .btn {
  color: #fff; }

.lists .group-header {
  text-align: center;
  display: block; }
