$border_color: #edeff1;

.navbar {
    border-bottom: 1px solid $border_color;
}

.page {
    .details {
        background: #fff;
        .nothing {
          margin-bottom: 0;
        }

        @media (min-width: 768px) {
          padding: 50px 20px;
        }

    }
}

.carousel-inner {
    padding-bottom: 90px; //height of thumbnail image
}

.carousel-control-next,
.carousel-control-prev {
    background-size: 100%, 100%;
    background-image: none;
    color: #000 !important;
    font-size: 50px;
    opacity: 1;
}

.carousel-indicators {
    bottom: 0;
    margin: 0;
}

.carousel-indicators li {
    background: transparent !important;
    width: auto;
    height: auto;
    text-indent: 0;
    margin: 0 5px;
}

.details .card {
    border: 0;
    background: transparent;

    .card-body {
        border-bottom: 1px solid $border_color;
    }

    .card-footer {
        background: transparent;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 0;
        border-bottom: 1px solid $border_color;
    }

    .card-footer:last-child {
        border-bottom: 0;
    }
}

.product-actions {
    .float-left,
    .float-right {
        float: none !important;
        margin-bottom: 10px;
        text-align: center;
    }
    @media (min-width: 768px) {
        .float-left {
            float: left !important;
        }
        .float-right {
            float: right !important;
        }
    }

    a {
        margin: 0 5px;
        color: #555;

        &:not(.btn) {
            transition: all 0.2s ease-in;
        }
    }

    a:hover {
        &:not(.btn) {
            color: #000;
        }
    }
}

.product-actions .btn {
    color: #fff;
}

.lists .group-header {
    text-align: center;
    display: block;
}
