$default_content_font_color: #34404b;

.listings {
    margin-bottom: 25px;

    ul > li {
        border: 0;
    }

    ul > li > a {
        color: $default_content_font_color;
    }
}

.list-group-header {
    color: #ff5912;
}

.product-listing {
    color: $default_content_font_color;

    .col {
      padding-left: 10px;
      padding-right: 10px;
    }
}
