.listings {
  margin-bottom: 25px; }
  .listings ul > li {
    border: 0; }
  .listings ul > li > a {
    color: #34404b; }

.list-group-header {
  color: #ff5912; }

.product-listing {
  color: #34404b; }
  .product-listing .col {
    padding-left: 10px;
    padding-right: 10px; }
