.posting {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

#account {
    .form-control {
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
    }
}