body {
    background: #fff;
}

.page-banner {
    background: #f7f7f7;
    border-top: 1px solid #dbe2e8;
    border-bottom: 1px solid #dbe2e8;
    font-size: 25px;
    margin-bottom: 30px;

    .mc {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}