body {
  color: #34404b;
  background: #f8f9fa; }

/** HEADER **/
.navbar {
  padding: 1rem; }
  .navbar.bg-light {
    background: #fff !important; }
  .navbar .form-navigation .form-navigation-wrapper {
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .navbar .form-navigation .form-navigation-wrapper .form-navigation-wrapper {
        text-align: right; } }
    .navbar .form-navigation .form-navigation-wrapper .fa {
      color: #34404b !important;
      cursor: pointer;
      margin: 0 5px;
      font-size: 18px;
      text-decoration: none;
      display: inline-block; }
      .navbar .form-navigation .form-navigation-wrapper .fa > .btn-group a {
        text-decoration: none;
        color: #fff; }
      .navbar .form-navigation .form-navigation-wrapper .fa.search-area {
        display: block;
        margin-bottom: 10px; }
        .navbar .form-navigation .form-navigation-wrapper .fa.search-area .form-input-holder {
          text-align: right;
          margin-left: 10px; }
          .navbar .form-navigation .form-navigation-wrapper .fa.search-area .form-input-holder .form-control {
            display: inline-block;
            transition: none; }
        .navbar .form-navigation .form-navigation-wrapper .fa.search-area .form-input-holder,
        .navbar .form-navigation .form-navigation-wrapper .fa.search-area .search-icon {
          display: inline-block; }
      @media (min-width: 768px) {
        .navbar .form-navigation .form-navigation-wrapper .fa.search-area {
          display: inline-block;
          margin-bottom: 0; } }
    .navbar .form-navigation .form-navigation-wrapper .fa:focus,
    .navbar .form-navigation .form-navigation-wrapper .fa:hover {
      color: #3286c4; }

/** CONTAINER **/
.mc {
  padding: 50px 20px; }
  .mc .group-header {
    display: inline-block;
    margin: 0 20px 15px 0;
    font-size: 22px; }
  @media (min-width: 768px) {
    .mc .mc {
      padding: 50px 0; } }

.card {
  margin-bottom: 20px; }
  .card .imageloader {
    text-align: center; }

.list-area {
  margin-bottom: 20px; }

.verified {
  display: inline-block;
  font-size: 12px;
  color: #2fc480;
  position: relative;
  margin-left: 0; }

.alert-light {
  background: transparent;
  color: #000;
  border: 0; }

/** CARD BUTTONS **/
.btn-product {
  display: block;
  margin-bottom: 10px;
  padding: 0.5rem .5rem;
  border-radius: 20px; }
