$default_font_size: 18px;
$background_color: #f8f9fa;
$default_content_font_color: #34404b;

body {
    color: $default_content_font_color;
    background: $background_color;
}
/** HEADER **/

.navbar {
    padding: 1rem;

    &.bg-light {
        background: #fff !important;
    }

    .form-navigation {
        .form-navigation-wrapper {
            width: 100%;
            text-align: center;
            @media (min-width: 768px) {
                .form-navigation-wrapper {
                    text-align: right;
                }
            }

            .fa {
                color: $default_content_font_color !important;
                cursor: pointer;
                margin: 0 5px;
                font-size: $default_font_size;
                text-decoration: none;
                display: inline-block;

                >.btn-group a {
                    text-decoration: none;
                    color: #fff
                }

                &.search-area {
                    display: block;
                    margin-bottom: 10px;

                    .form-input-holder {
                        text-align: right;
                        margin-left: 10px;

                        .form-control {
                            display: inline-block;
                            transition: none;
                        }
                    }

                    .form-input-holder,
                    .search-icon {
                        display: inline-block;
                    }
                }
                @media (min-width: 768px) {
                    &.search-area {
                        display: inline-block;
                        margin-bottom: 0;
                    }
                }
            }

            .fa:focus,
            .fa:hover {
                color: #3286c4;
            }
        }
    }
}
/** CONTAINER **/

.mc {
    padding: 50px 20px;

    .group-header {
        display: inline-block;
        margin: 0 20px 15px 0;
        font-size: 22px;
    }

    @media (min-width: 768px) {
        .mc {
            padding: 50px 0;
        }
    }
}

.card {
    margin-bottom: 20px;

    .imageloader {
        text-align: center;
    }
}

.list-area {
    margin-bottom: 20px;
}

.verified {
    display: inline-block;
    font-size: 12px;
    color: #2fc480;
    position: relative;
    margin-left: 0;
}

.alert-light {
    background: transparent;
    color: #000;
    border: 0;
}


/** CARD BUTTONS **/
.btn-product {
    display: block;
    margin-bottom: 10px;
    padding: 0.5rem .5rem;
    border-radius: 20px;
}